In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Name": ["Nikhil", "Vaishnavi", "Kapil", "Neha", "Piyush"],
    "Age": [21 , 22 , 25 , 20 , 18 ],
    "Score": [95 , 99 , 92 , 97 , 78]
}
df = pd.DataFrame(data)

In [3]:
print("DataFrame:\n", df)

DataFrame:
         Name  Age  Score
0     Nikhil   21     95
1  Vaishnavi   22     99
2      Kapil   25     92
3       Neha   20     97
4     Piyush   18     78

In [4]:
age_column = df["Age"]
print("\nRetreived Column - Age:\n", age_column)

Retreived Column - Age:
 0    21
1    22
2    25
3    20
4    18
Name: Age, dtype: int64

In [5]:
summary = df.describe()
print("\nSummary Statistics of DataFrame:\n", summary)

Summary Statistics of DataFrame:
              Age      Score
count   5.000000   5.000000
mean   21.200000  92.200000
std     2.588436   8.348653
min    18.000000  78.000000
25%    20.000000  92.000000
50%    21.000000  95.000000
75%    22.000000  97.000000
max    25.000000  99.000000

In [6]:
mean_values = df.select_dtypes(include=[np.number]).mean()
std_values = df.select_dtypes(include=[np.number]).std()

In [7]:
print("\nMean Values:\n", mean_values)
print("\nStandard Deviation Values:\n", std_values)

Mean Values:
 Age      21.2
Score    92.2
dtype: float64

Standard Deviation Values:
 Age      2.588436
Score    8.348653
dtype: float64